<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
{{!-- Rendering a partial using '>' --}}
{{!-- A partial is a part, generally a common part among webpages --}}
    {{>header}}
    <h1>Help</h1>
    <p>{{helptext}}</p>
</body>

</html>